<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "qna">
 	  	
 	<!-- 
	   content_table 에 insert 하기 #{content_file, jdbcType=VARCHAR} 
	    ㄴ 이미지를 추가 하지 않으면 content_file 에 들어오는 값이 null 이 되는데
	       이 때, null 값이 들어와도 오류가 발생하지 않게 하려면 jdbcType=VARCHAR 를 설정함
	 -->
	 
	<!-- <insert id="addNotiInfo" parameterType="com.matjip.bean.NoticeBean" > -->
		
		<!-- 현재 Sequence 값 가져와서 
		SELECT CONTENT_SEQ.nextval FROM DUAL
		cONTENTbEAN 객체의 멤버변수 content_idx에 할당한후,
		INSERT 문을 실행함
		VALUES(CONTENT_SEQ.nextval,...) -> VALUES(#{content_idx})
		-->
		<!-- <selectKey keyProperty = "noti_idx" order="BEFORE" resultType="java.lang.Integer">
			<![CDATA[	
				SELECT NOTI_SEQ.nextval FROM DUAL
			]]>					
		</selectKey>	
	
		<![CDATA[
			
			Insert INTO notice VALUES(#{noti_idx}, #{noti_title},
			#{noti_content}, #{noti_author}, #{noti_file, jdbcType=VARCHAR}, sysdate)
				
		]]>		
	</insert>  -->
		
	<!-- 게시글 리스트 가져오기 -->
 	<select id="getQnaList" parameterType="java.lang.Integer" 
 								resultType="com.matjip.bean.QnaBean">
		<![CDATA[
			
			SELECT qna_idx, qna_title, qna_id, qna_resdate FROM qna ORDER BY qna_idx desc
				
		]]>		
	</select> 
	
	<!-- 상세페이지에 출력할 데이터 가져오기 작성자(이름)-user_name(content_writer_name), 작성날짜-content_date, 
		제목-content_subject, 내용-cotent.text, 첨부이미지-content_file -->
	<select id="getQnaInfo" parameterType="java.lang.Integer"
		resultType="com.matjip.bean.QnaBean">
	    <![CDATA[
		      SELECT qna_id, qna_resdata, qna_title, qna_content FROM qna
	    ]]>
	</select>
		
	<!-- 상세페이지에서 수정 버튼 눌렀을때 출력할 데이터 가져오기 
 	<select id="getContentInfo" parameterType="java.lang.Integer" 
 								resultType="kr.co.tjoeun.bean.ContentBean">
		<![CDATA[
			
			SELECT u.user_name content_writer_name, 
			TO_CHAR(content_date, 'YYYY-MM-DD') content_date,
			c.content_subject, c.content_text, c.content_file, c.content_writer_idx 
			FROM content_table c, user_table u 
			WHERE c.content_writer_idx = u.user_idx 
			AND c.content_idx = ${board_info_idx}
				
		]]>		
	</select> 
	
	상세페이지에서 수정 버튼 눌렀을때 게시글 수정하기
 	<update id="modifyContentInfo" parameterType="kr.co.tjoeun.bean.ContentBean">
		<![CDATA[
			
			UPDATE content_table 
			SET content_subject = #{content_subject}, content_text = #{content_text},
			content_file = #{content_file, jdbcType=VARCHAR}
			WHERE content_idx = #{content_idx}
				
		]]>		
	</update> 
	
		
	상세페이지에서 삭제 버튼 눌렀을때 게시글 삭제하기
 	<delete id="deleteContentInfo" parameterType="java.lang.Integer">
		<![CDATA[
			
			DELETE FROM content_table WHERE content_idx = #{content_idx}
				
		]]>		
	</delete> -->
	
	<!-- 게시글 전체 개수 가져오기 -->
 	<select id="getQnaCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		<![CDATA[
			
			SELECT COUNT(*) FROM qna
				
		]]>		
	</select> 	
 
</mapper>